
body {
  background: #f4cf3a;
}

img {
 height: 250px;
 width: 250px;
}

.about_page_container {
  margin-bottom: 30vh;
}

.image-container {
  height: 250px;
  width: 250px;
  padding-top: 100px;
  margin: 0 auto 200px auto;
}

.card_header_container,
.card_text_container {
  text-align: center;
  width: 90%;
  margin: auto;
}

.card_header_container::before,
.card_text_container::after {
  display: none;
}


footer {
  background: url('../images/karakoy-5.jpg') center center no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 1023px) {

  .about_page_container {
    width: 70%;
    margin:0 auto 30vh auto;
  }

}
