
/********** Global Values **********/
/**********               **********/

* {
  --light-red-background: #ff6961;
}
body {
  background: url('../images/background.jpg') center top no-repeat;
  background-size: auto 100%;
}



/********** Typography **********/
/**********            **********/



/********** Landing Page **********/
/**********              **********/

.landing_page_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* container for logo */
.landing_logo_container {
  width: 275px;
  height: 130px;
  text-align: center;
  font-family: var(--company-font);
  text-transform: uppercase;
  border-top: 4px dotted black;
  border-bottom: 4px dotted black;
  opacity: 1;
  transition: opacity .5s;
}

/* company name inside log container */
.landing_logo_container h1 {
  display: block;
  font-size: 4rem;
  margin: auto;
}

/* styling for text in logo container */
.secondary_title {
  color: var(--white-background);
  background-color: var(--light-red-background);
  letter-spacing: 0.5rem;
  margin-bottom: 5px;
  border: 1px solid red;
}

.about-link-section {   /* background colors for various sections */
  background: var(--gray-background);
}

.menu-link-section,
.reservations-link-section {
  background: var(--white-background);
}

/**********  Slideshow Section **********/
/**********                    **********/


.specials_text_container .card_header_container::before,
.specials_text_container .card_text_container::after,
.specials_content_container-2 {
  display: none;  /* override from main.css */
}

.specials_container {
  width: 100%;

}

.specials_content_container-1,
.specials_content_container-2 {

}

.specials_image_container {
  overflow: hidden;
  height: 70vh;
}

img {
  height: 70vh;
  width: 100%;
  object-fit: cover;
}

.specials_text_container {
  background: var(--light-red-background);
  color: var(--white-background);
  text-align: center;
  height: auto;
}
.specials_text_container .card_text_container,
.specials_text_container .card_header_container {
  width: 90%;
  margin: auto;
  padding: 20px 0;
}

.specials_text_container,
.specials_text_container .card_text_container p {
  color: var(--white-background);
}


/********** Media Queries **********/
/**********               **********/

@media only screen and (min-width: 1300px)  {

  .slideshow {
    display: flex;
    min-height: 50vh;
    width: 80%;
    margin: auto;
  }

  .slideshow-pic {
    min-height: 50vh;
    width: 70%;
  }

  .slideshow-content {
    width: 30%;
    min-height: 50vh;
  }
}
