
/********** Global Values **********/
/**********               **********/

* {
  --light-red-background: #ff6961;
}
body {
  background: url('../images/background.jpg') center top no-repeat;
  background-size: auto 100%;
}



/********** Typography **********/
/**********            **********/



/********** Landing Page **********/
/**********              **********/

.landing_page_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* container for logo */
.landing_logo_container {
  width: 275px;
  height: 130px;
  text-align: center;
  font-family: var(--company-font);
  text-transform: uppercase;
  border-top: 4px dotted black;
  border-bottom: 4px dotted black;
  opacity: 1;
  transition: opacity .5s;
}

/* company name inside log container */
.landing_logo_container h1 {
  display: block;
  font-size: 4rem;
  margin: auto;
}

/* styling for text in logo container */
.secondary_title {
  color: var(--white-background);
  background-color: var(--light-red-background);
  letter-spacing: 0.5rem;
  margin-bottom: 5px;
  border: 1px solid red;
}

.about-link-section {   /* background colors for various sections */
  background: var(--gray-background);
}

.menu-link-section,
.reservations-link-section {
  background: var(--white-background);
}

/**********  Slideshow Section **********/
/**********                    **********/

.slideshow {
  margin-top: 300px;
}

.slideshow-pic {  /* div containing pics for slideshow */
  height: 65vh;
}

.pic-1 {
  background: url('../images/figure-meksika-atesi.png') center center no-repeat;
  background-size: cover;
}

.slideshow-content {  /* div for slideshow content */
  background: var(--light-red-background);
  padding-bottom: 30px;
  height: ;
}

.slideshow .section-header-wrapper,
.slideshow .section-text-wrapper p {  /* styling for text below headers */
  color: white;
}


.slideshow .section-header-wrapper::before,
.slideshow .section-text-wrapper::after {
  display: none;
}

/********** Media Queries **********/
/**********               **********/

@media only screen and (min-width: 1300px)  {

  .slideshow {
    display: flex;
    min-height: 50vh;
    width: 80%;
    margin: auto;
  }

  .slideshow-pic {
    min-height: 50vh;
    width: 70%;
  }

  .slideshow-content {
    width: 30%;
    min-height: 50vh;
  }
}
