@import url('https://fonts.googleapis.com/css?family=Stardos+Stencil');
@import url('https://fonts.googleapis.com/css?family=Bad+Script|Hammersmith+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

/*branch-1*/
/* company font - font-family: 'Stardos Stencil', sans-serif;*/
/* section header/content - font-family: 'Hammersmith One', sans-serif;*/
/* section subtitle - font-family: 'Bad Script', cursive;*/
/* hours/address - font-family: 'Open Sans Condensed', sans-serif;*/

/* This document contains the styling that is applied accross
   all of this sites pages.  Navigation, typography, etc.
   Styling for specific pages can be found on said pages css
   doc. */

/********** Global Values **********/
/**********               **********/

* {
  box-sizing: border-box;
  /* font variable for Restaurant Title and links */
  --company-font: 'Stardos Stencil', sans-serif;
  --gray-background: #3b444d;
  --white-background: #f9f9f9;
  --light-red-background: #ff6961;
  --red: red;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  max-width: 2400px;
}

/* Font styling for nav bars and titles */
header {
  position: fixed;
  width: 100%;
  background: var(--white-background);
  border-bottom: 2px solid #f1f1f1;
  font-family: var(--company-font);
  opacity: 0;
  transition: opacity .5s;
  z-index: 10;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  transition: color .5s;
}

header,
.link-button a,
.social-media h2 {
  text-transform: uppercase;
}

/********** Card layout classes *********/
/**********                     *********/

/* class for using "transition" property */
.card--transition {
  position: relative;
  transform: translateY(20%);
  transition: transform .5s;
}
/* class for positioning some cards to right of screen */
.card--right {

}

/********** Color Classes **********/
/**********               **********/

.gray {
  background: var(--gray-background);
}

.red {
  background: var(--light-red-background);
}

.white {
  background: var(--white-background);
}

.yellow {

}


/********** Navigation **********/
/**********         ***********/

.navigation,
.nav_title_icon {
  display: flex;
  width: 95%;
  margin: auto;
}

.navigation {
  justify-content: center;
  text-align: center;
  height: 0;
  overflow: hidden;
  transition: height .5s;
}

.nav_title_icon {
  justify-content: space-between;
}

.nav_title_icon > * {
  margin: 10px 0;
}

.nav_list_item {
  margin: 5px 0;
}

/* hides title list item for desktop nav */
.nav_list_item:nth-child(3) {
  display: none;
}

.nav_list_item:hover a {
  color: var(--light-red-background);
}

/***** Hamburger Menu Styling *****/

/* container for hamburger menu */
.menu-toggle {
  height: 30px;
  width: 30px;
}

/* hamburger icon for responsive nav menu */
.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: black;
  height: 3px;
  width: 30px;
  border-radius: 3px;
}

 /* positioning for hamburger icon bars */
.hamburger {
  transform: translateY(4px);

}
.hamburger::before {
  transform: translateY(9px);

}
.hamburger::after {
  transform: translateY(15px);

}


/********** Card / Containers **********/
/**********                    **********/

/* container for .card classes */
.card_container,
/* container for .card classes that are at the top of a section */
.card_lead_container {
  height: 100vh;
  max-height: 980px;
}

.card {
  height: 100%;
  width: 90%;
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;

}

.card_header,
.text_content {
  font-family: 'Hammersmith One', sans-serif;
}

/* styling for h2 */
.card_subtitle {
  margin-top: 10px;
  font-family: 'Bad Script', cursive;
}

/* styling for text below headers */
.card_text_container p {
  line-height: 2rem;
  color: #778899;
}

/* styling ahead of headers */
.card_header_container::before {
  content: '';
  display: block;
  margin: 50px auto 15% auto;
  background: var(--red);
  height: 2px;
  width: 100px;
  border-radius: 3px;
}

/* styling after of headers */
.card_text_container::after {
  content: '';
  display: block;
  background: #D3D3D3;
  margin: 15% auto 0 auto;
  height: 100px;
  width: 2px;
  border-radius: 3px;

}

/* styling for button links at bottom of sections */
.link-button {
  width: 250px;
  height: 40px;
  border: 1px solid var(--red);
}

.link-button a {
  line-height: 40px;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.link-button a:hover {
  cursor: pointer;
}


/* hides psuedo element "after" on .card classes */
.alt_page.card_text_container::after {

}





/* interlude is section of "white space" in between some sections */
.section-interlude {
  height: 50vh;
}

/********** Footer **********/
/**********        **********/

footer {
  background: url('../images/footer-home.jpg') center no-repeat;
  background-size: cover;
  height: 100vh;
}

/* Gives footer-container transition effect on scroll *same as .card--transition* */
.footer--transition {
  transform: translateY(20%);
  transition: transform .5s;
}

/* container for restaurant info */
.footer-container {
  height: 75vh;
  width: 90%;
  margin: auto;
  position: relative;
  background: var(--white-background);
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 2px 1px #d3d3d3;

}

/* Flex box container */
.footer-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  height: 100%;
  margin: auto;
}

/* individual items in flex container */
.flex-item {
  width: 100%;
}

/* social media flex item */
.social-media {
  line-height: 50px;
}

/* divs inside social media flex item */
.social-box {
  display: inline-block;
}

/* container for FB/instagram links */
.social-link-container {
  float: right;
}

.social-media > h2 {
  font-size: 1.9rem;
  font-family: var(--company-font);
}

/* styling for FB/instagram links */
.fa-facebook,
.fa-instagram {
  padding: 10px;
  color: white;
  border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    padding: 10px 12px;
}
.fa-instagram {
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
}

/*  styling for flex items */
.hours,
.address {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}

.hours > h1 {
  color: var(--light-red-background);
}

.address > p {
  font-size: 1.25rem;
  letter-spacing: .2rem;
}

.address p:nth-child(2) {
  font-weight: bold;
}

/********* Media Queries *********/
/*********               *********/

@media only screen and (min-height: 660px) {

  .card_container,
  .card_lead_container {
    height: 70vh;
  }
}


@media only screen and (max-width: 764px) {
  .footer-container {
    height: 380px;
  }
}

@media only screen and (min-width: 765px) {

  /********** card / Containers **********/

  .card_container,
  .card_lead_container {
    min-height: 570px;
  }

  .card_container {
    width: 80%;
  }

  .card--right {
    left: 20%;
  }


  /********** Footer *********/

  footer {
    height: 50vh;
  }

/* container for restaurant info */
  .footer-container {
    height: 30vh;
    width: 90%;
    margin: auto;
    position: relative;
    top: -100px;
    border: 1px solid #f1f1f1;
    min-height: 170px;
  }

/* Flex box container */
  .footer-flex-container {
    flex-direction: row;
    padding-top: 75px;
  }
}

@media only screen and (min-width: 1023px) {

  /***** Navigation *****/

  .nav_title_icon {
    display: none; /* reset from resp. nav */
  }

  .navigation {
    overflow: visible; /* reset from resp. nav */
    height: auto;
  }

  /* unordered list */
  .nav_ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  /* Restaurant name in navigation menu */
  .nav_list_item:nth-child(3) {
    display: inline; /* reset from resp. nav */
    font-size: 3.5rem;
  }

/* transition effects for nav links */
  .nav_list_item::after {
    content: '';
    display: block;
    height: 0;
    width: 3px;
    border-radius: ;
    margin: auto;
    position: relative;
    bottom: 0px;
    background-color:  var(--light-red-background);
    transition: height .5s ease-in-out;
  }

/* transition effects for nav links */
  .nav_list_item:hover.nav_list_item::after {
    height: 25px;
  }

/* Negates transition effect for Restaurant name in nav bar */
  .nav_list_item:nth-child(3):hover.nav_list_item::after {
    height: 0;
  }

  /********** .card / Container *********/

  .card_container,
  .card_lead_container {
    height: 60vh;
  }

  .card_lead_container .card {
    width: 70%;
  }

}

@media only screen and (min-width: 1210px) {

  .page-container {
    width: 80%;
    margin: auto;
  }


  /********** Footer *********/

  .footer-container {  /* container for restaurant info */
    width: 80%;
  }

}

@media only screen and (min-width: 2400px) {

  body {
    margin: auto;
  }

}
