@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Handlee');


/********* Global Values *********/
/*********               *********/

* {
  /* font variable for Restaurant Title and links */
  --company-font: 'Stardos Stencil', sans-serif;
  --menu-title-font: 'Open Sans Condensed', sans-serif;
  --menu-item-font: 'Maven Pro', sans-serif;
  --menu-item-description-font: 'Handlee', cursive;
  --gray-background: #3b444d;
  --white-background: #f9f9f9;
  --light-red-background: #ff6961;
  --red: red;
}

body {
  background: url('../images/background-menu.jpg') center center no-repeat;
  background-size: cover;
}

.menu_landing_page_title {
  text-transform: uppercase;
}


/**********  Menu Landing Page **********/
/**********                    **********/

/* styling for menu introduction */
.menu_landing_page {
  background: url('../images/menu-bg.png') center center no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
}


.menu_landing_page_title {
  color: var(--white-background);
  padding-top: 100px;
  letter-spacing: 1rem;
  font-family: var(--company-font);
}

/**********  General Styling for Menu Sections **********/
/**********                                    **********/

.menu_content_container {
  width: 90%;
  margin: auto;
}

/* styling for the title(h1) of each menu section */
.menu_header {
  font-size: 2.5rem;
  padding-top: 100px;
  margin-bottom: 50px;
  font-family: var(--menu-title-font);
}

/* container for list of menu items */
.menu_content_ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-bottom: 100px;
}

/* individual menu items */
.menu_item {
  font-family: var(--menu-item-font);
  font-size: 1.1rem;
  border-bottom: 1px dashed #D3D3D3;
  padding: 25px 0;
}

/* description of menu items when applicable */
.menu_item--description {
  font-size: .9rem;
  font-family: var(--menu-item-description-font);
  padding-top: 5px;
}


/********** Drinks Section **********/

.cold-drinks,
.hot-drinks {
  width: 65%;
}

.hot-drinks {
  position: relative;
  left: 35%;
}


/*********** Footer **********/

footer {
  background: url('../images/footer-menu.jpg') center center no-repeat;
  background-size: cover;
}


/********** Media Queries **********/
/**********               **********/

@media only screen and (min-width: 765px) {

  .menu_landing_page_title {
    font-size: 4rem;
  }

  /**********  menu card *********/

  .menu_card {
    width: 80%;
    height: ;
  }

  .menu_content_ul {
    flex-wrap: wrap;
    flex-direction: row;
  }

/* styling to split menu list into two columns */
  .menu_content_ul li {
    width: 45%;
  }
  .menu_content_ul li:nth-child(odd) {
    margin-right: 25px;
  }

}

@media only screen and (min-width: 1020px) {


}
