
.reservations-page-section {
  background: url('../images/background.jpg') center top no-repeat;
  background-size: ;
}

.invitation-section{
  background: #f9f9f9;
}
.invitation-section .section-text-wrapper::after {
  content: '';
  display: none;
}

.image-container {
  height: 40vh;
  width: 100%;
}

.slideshow-image {
  height: 100%;
  width: 100%;
}

.section-text-wrapper {
  padding-bottom: 100px;
}

.map-link-section {
  background: #3b444d;
}

footer {
  background: url('../images/footer-restaurant.jpg') center no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 760px) {

  .map-link-section {
    top: -50px;
  }
}

@media only screen and (min-width: 1000px) {


  .image-container {
    height: 75vh;
  }

  .map-link-section {
    top: -50px;
    width: 60%;
    left: 10%;
  }

}
